# Logs and results
**/*.csv
**/*.out
**/*.err
**/*.png
**/*.pdf
logs/
log/
job*/
wandb/
**/_*

# Notebooks
**/*.ipynb

# Cache, builds, checkpoints
__pycache__/
.pytest_cache/
build/
.ipynb_*/
dist/
codetrace.egg-info/

# heavy files
models/
completions/

# npm packages
node_modules/
package-lock.json
package.json