.ipynb_*/
logs/
**/_*
*_log/
py_data/
results/
data/
**/*.csv
result_csvs/
logs/
log/
pyright_log/
exp_results/
**/*.out
**/*.err
exp_data*/
temp.png
__pycache__/
build/
**/main*.ipynb
models/
completions/
node_modules/
ts-benchmark-dataset/
package-lock.json
package.json
log/
generations/
images/
wandb/
models/
masks/
data/
results/
.pytest_cache/
dist/
codetrace.egg-info/
codetrace/type_inf_exp/datasets
logs/
job*/
figures/
**/*.pdf